.logo {
    width: 180px;
    height: 180px;
}

.name {
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 70px;
}

.navbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    background: #D6D2C2;
}

.logo-and-name {
    position: relative;
    display: flex;
    border-right: 2px solid;
    padding-right: 100px;
    height: 140px;
    margin-bottom: 40px;
}


